body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 62%;
}

.navbar {
  margin-top: -1.7rem;
  height: 2.2rem;
  float: right;
  background-color: rgba(20, 36, 129, 0.1) !important;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
}

.navbar li:hover {
  background: rgb(4, 4, 97);
}

.navbar a {
  font-size: 7px;
  margin-top: 5px;
  font-weight: 600;
}

.loginregister {
  background: rgb(23, 23, 116);
  height: 2rem;
  width: 7rem;
  text-align: center;
  padding-top: 0px;
  margin-right: -1rem;
  margin-top: 0.6rem;
}

.navbar-nav {
  margin-left: 11rem;
}

.links {
  margin: 10px;
  letter-spacing: 0.5px;
}

.under {
  position: absolute;
  height: 1.9rem;
}

.over {
  position: absolute;
  height: 1.9rem;
  padding-bottom: 2px;
  padding-left: 30px;
}

#headertext {
  color: white;
  text-align: center;
  margin-top: 4.7rem;
  font-size: 13px;
  width: 51.5%;
}

.headertextbig {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 5.2rem;
}

#d19 {
  font-weight: 600;
  letter-spacing: 3px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.arrowshape {
  position: absolute;
  margin-top: 2REM;
  margin-left: -23.4rem;
  filter: drop-shadow(1px 1px 2px black);
}

.headerimgs {
  display: flex;
  filter: drop-shadow(1px 1px 2px black);
  justify-content: space-between;
  margin-top: 6.2rem;
  text-align: center;
}

.headerimgs img {
  height: 140px;
  width: 260px;
  margin-left: 0.2rem;
}

.headerbg {
  height: 32.1rem;
}

.bg-image-full {
  background-image: url('/img/background.png') !important;
  background: no-repeat cover center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* Section */
.section {
  padding: 2rem 0;
}

.section-head {
  font-size: 2.5rem;
  margin: 0;
}

.section h3 {
  font-size: 2rem;
}

section#entertainment {
  background: url(../img/section-bg.jpg) no-repeat bottom/cover;
  padding: 10rem 0;
}

#body1 {
  height: 24rem;
}

.book {
  width: 50%;
  color: rgb(83, 83, 83);
  font-size: 11px;
  margin-left: 6px;
}

.book p {
  margin-top: -2px;
}

.book img {
  width: 97%;
}

.book a {
  color: darkblue;
}

.news {
  width: 40%;
  position: relative;
  font-size: 10px;
  margin-left: 9%;
}

.news ul {
  margin-left: -7%;
  margin-top: 30px;
  padding-bottom: 6%;
}

.book,
.news {
  margin-top: -9px;
  float: left;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}

/*body2*/
#body2 {
  height: 21.7rem;
  padding-top: 7rem;
  font-size: 14px;
}

#body2 h5 {
  color: rgb(0, 76, 255);
}

#body2 img {
  float: left;
  position: relative;
  height: 113px;
  width: 115px;
  margin-left: 0.5rem;
}

.buybook {
  clear: both;
}

.buybook {
  width: 75%;
  float: left;
  position: relative;
  font-size: 13px;
}

.buybook p,
.buybook h5 {
  margin-left: 9rem;
  margin-bottom: -0.35rem;
}

.buybook p {
  margin-top: 1.5rem;
}

.buybook h5 {
  margin-top: -1.5rem;
}

.card {
  font-size: 10px;
  margin-top: -2.6rem;
  height: 12.5rem;
  width: 11.4rem;
  margin-left: 39rem;
  text-align: center;
}

.card h5 {
  font-size: 16px;
}

.card button {
  background: white;
  color: blue;
  border: 1px solid blue;
  padding: 8px 18px;
  margin-top: 0.9rem;
}

/*.buybookbutton {
  float: right;
  width: 23%;
  height: 85%;
  margin-top: -2.8rem;
  border: 1px solid black;
}*/
/* Footer */
footer .footer-cols {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  padding: 2rem;
  text-align: left;
  height: 6.5rem;
}

footer .footer-cols ul {
  list-style: none;
  font-size: 9px;
}

footer .footer-cols ul li:first-child {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom: #444 solid 1px;
  margin-bottom: 1rem;
}

footer .footer-cols li {
  float: left;
}

footer .footer-bottom {
  background: #C8C8C8;
  padding: 0.5rem 0rem;
  height: 2rem;
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 0.25px;
}

footer ul {
  float: left;
  font-size: 0.8rem;
}

footer a {
  color: grey;
}

/* Responsive*/
@media screen and (min-width: 1400px) {
  #body1 img {
    width: 75%;
  }

  .headerimgs {
    justify-content: center;
  }

  .navbar {
    float: left;
    margin-left: 7%;
  }
}

@media screen and (min-width: 1600px) {
  #body1 img {
    width: 75%;
  }

  .navbar {
    float: left;
    margin-left: 7%;
  }
}

@media screen and (min-width: 1900px) {
  #body1 img {
    width: 75%;
  }

  .navbar {
    float: left;
    margin-left: 7%;
  }
}

@media screen and (max-width: 1024px) {
  #body1 img {
    width: 75%;
  }

  .container {
    width: 100%;
  }

  .headerbg {
    height: 60rem;
  }

  .headerimgs {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #body1 {
    width: 100%;
    text-align: center;
    font-size: 15px;
  }

  #body1 img {
    width: 195%;
  }

  #body2 {
    margin-top: 10rem;
  }

  .buybook {
    font-size: 10px;
    width: 90%;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  .buybook h5 {
    font-size: 15px;
    width: 61%;
  }

  .card {
    margin-left: -0rem;
    width: 100%;
  }

  .news {
    width: 100%;
    padding-top: 10px;
  }

  .navbar {
    float: left;
    margin-left: 7%;
  }

  .navbar li {
    width: 100%;
    background: #444;
    padding: 10px;
    padding-left: 1.5rem;
    margin: auto;
    margin-left: 25px;
  }

  .navbar-toggler {
    margin-left: 15rem;
  }

  footer {
    margin-top: 20rem;
    padding-bottom: 5rem;
  }

  footer li {
    position: relative;
    margin-left: -3rem;
  }

  .footer-bottom {
    margin-bottom: -5rem;
  }
}

.dropbtn {
  background-color: transparent;
  color: blue;
  padding: 8px;
  font-size: 13px;
  position: relative;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(3, 3, 129);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: blue;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content input {
  width: 80%;
  height: 20px;
}

.dropdown-content p {
  font-size: 10px;
  color: white;
  margin-top: 7px;
}

.dropdown-content button {
  border: 1px solid white;
  background: darkblue;
  color: white;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 15px;
}

.dropdown-content label {
  float: left;
  margin-left: 15px;
  font-size: 10px;
  color: white;
}